1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

test1 = 'This is a test of the emergency text system'

        with open('test.txt','w') as f:
            f.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

        with open('test.txt','r') as f:
            test2 = f.read()

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

        with open('books.csv', 'w') as f:
             f.write('''title,author,year
         The Weirdstone of Brisingamen,Alan Garner,1960
         Perdido Street Station,China Miéville,2000
         Thud!,Terry Pratchett,2005
         The Spellman Files,Lisa Lutz,2007
         Small Gods,Terry Pratchett,1992''')

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

        import sqlite3
        con = sqlite3.connect('books.db')
        cur = con.cursor()
        cur.execute('''CREATE TABLE books (title text, author text, year integer)''')

5. Read books.csv and insert its data into the book table.

        with open('books.csv','r') as f:
             book = f.read()
        con = sqlite3.connect('books.db')
        cur = con.cursor()
        for each in book.split('\n')[1:]:
             cur.execute("INSERT INTO books VALUES ('" +each.split(',')[0] +"' ,'" +each.split(',')[1] +"' ,'" \+each.split(',')[2] +"')")
        con.commit()
        con.close()

6. Select and print the title column from the book table in alphabetical order.

        for each in cur.execute("SELECT title FROM books ORDER By title ASC"):\
             print(each)

7. From the book table, select and print all columns in the order of publication.

        for each in cur.execute("SELECT * FROM books ORDER By year ASC"):\
             print(each)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

        import sqlalchemy
        from sqlalchemy import create_engine
        engine = create_engine('sqlite:///books.db', echo = True)
        conn = engine.connect()
        for each_row in conn.execute("SELECT title FROM books ORDER By title ASC"):
            print(each_row)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

        conn = redis.Redis()
        conn.delete('test')
        conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
        conn.hgetall('test')
        {b'count': b'1', b'name': b'Fester Bestertester'}

10. Increment the count field of test and print it.

        conn.hincrby('test', 'count', 1)
        2
        conn.hget('test','count')
        b'2'